<div class="custom-table-wrapper">
  <table class="castom-table">
    <thead>
      <tr>
        <th ng-repeat="headerCol in $ctrl.appColumns" ng-click="$ctrl.sorting(headerCol)">
          {{headerCol}}
          <span class="sortorder" ng-show="$ctrl.sortType === headerCol" ng-class="{reverse: $ctrl.sortReverse}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.appData  | orderBy:$ctrl.sortType:$ctrl.sortReverse">
        <td ng-repeat="col in row">{{col}}</td>
      </tr>
    </tbody>

  </table>
</div>
{{$ctrl.sortType}} {{$ctrl.sortReverse}}