 .custom-table-wrapper {
   border: 1px solid #000;
   background: #bbb;
 }
 table {
   border-collapse: collapse;   
};
.castom-table td {
  border: 1px solid #000;
    padding: 4px;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
} 

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }